<h2>List of existing actions</h2>

<ul>
  <li *ngFor="let todo of todos">
    <a [routerLink]="[todo.id]">{{todo.title}}</a>

    <button mat-icon-button (click)="delete(todo.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
</ul>

<div class="d-flex">
  <div class="me-3">
    <mat-form-field appearance="standard">
      <mat-label>I need to do</mat-label>
      <input matInput type="text" [(ngModel)]="newTodoTitle" />
      <mat-hint>... but let`s do it tomorrow</mat-hint>
    </mat-form-field>
  </div>

  <div class="d-flex flex-column justify-content-center">
    <button mat-raised-button color="primary" (click)="add()">Add</button>
  </div>
</div>

